Cecilia5 is compatible with the following systems:
\begin{itemize}
\item Mac OS X (10.5, 10.6 or 10.7) 
\item Windows (XP, Vista or Seven)
\item Linux (In this case, you should install Pyo (a python library for audio signal processing) from the source code first; then you will be able to install Cecilia5.  For the complete procedure, follow this link: http://code.google.com/p/pyo/wiki/Installation )
\end{itemize}
Minimum versions (for running Cecilia5 from sources):

Before installing and using Cecilia5 (especially if you do it from the source code), please check if all these elements are installed on your computer:
\begin{itemize}
\item Python 2.6 ou 2.7 (http://www.python.org/getit/releases/2.6/ or http://www.python.org/getit/releases/2.7/)
\item Pyo 0.6.2 (or compiled with sources up-to-date - http://code.google.com/p/pyo/downloads/list)
\item Numpy 1.6.0 (http://sourceforge.net/projects/numpy/files/NumPy/1.6.0/)
\item WxPython 2.8.12.1 (http://wxpython.org/download.php) \end{itemize}